* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.ler {
    width: 540px;
    text-decoration: none;
}

.backmenu {
    margin-top: 15%;
    margin-left: 15%;
    text-decoration: none;
    width: auto;   
}

.sizeicon {
    height: 50px;
    width: 50px;
    text-decoration: none;
    color: black;
}

.gambar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nadiaimg {
    padding-top: 5%;
    width: 400px;
    height: 400px;
}

.judul {
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    text-align: center;
}

.nad {
    font-size: 250%;
    color: #ffb3c6;
}

.teks {
    font-size: 100%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
    text-align: left;
}