* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.arial {
    color: #ffff;
    width: 540px;
    text-decoration: none;
}

.backmenu {
    margin-top: 15%;
    margin-left: 15%;
    text-decoration: none;
    width: auto;   
}

.sizeicon {
    height: 50px;
    width: 50px;
    text-decoration: none;
    color: black;
}

.conteinerjudul {
    margin-left: 15%;
    margin-top: 5%;
}

.headatas {
    font-size: 250%;
    color: #ffb3c6;
}

.list1 {
    display: flex;
    margin-top: 5%;
    background-color: #ffb3c6;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 8px;
    align-items: center;
}

.nadiaicon {
    width: 60px;
    height: 60px;
    justify-content: left;
    margin-left: 4%;
}

.nadia {
    color: #ffff;
    font-size: 150%;
    padding-left: 5%;
}

.nadbutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 280%;
}

.mutbutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 317%;
}

.dilahbutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 300%;
}

.sipabutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 317%;
}

.aghniabutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 245%;
}

.icabutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 350%;
}

.junabutton {
        color: #ffff;
        height: 50px;
        width: 50px;
        margin-top: 10%;
        margin-left: 300%;
}

.mahesbutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 260%;
}

.gracebutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 275%;
}

.mistulbutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 272%;
}

.resabutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 300%;
}

.cicibutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 325%;
}

.fitabutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 325%;
}

.indybutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 310%;
}

.roisbutton {
    color: #ffff;
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 315%;
}

.akhir {
    margin-top: 40%;
}