* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.arial {
    color: #ffff;
    width: 360px;
    text-decoration: none;
}

.backmenu {
    margin-top: 15%;
    margin-left: 15%;
    text-decoration: none;
    width: auto;   
}

.sizeicon {
    height: 40px;
    width: 40px;
    text-decoration: none;
    color: black;
}

.conteinerjudul {
    margin-left: 15%;
    margin-top: 5%;
}

.headatas {
    font-size: 180%;
    color: #ffb3c6;
}

.list1 {
    display: flex;
    margin-top: 5%;
    background-color: #ffb3c6;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 8px;
    align-items: center;
}

.nadiaicon {
    width: 45px;
    height: 45px;
    justify-content: left;
    margin-left: 3%;
}

.nadia {
    color: #ffff;
    font-size: 120%;
    padding-left: 5%;
}

.nadbutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 20%;
    margin-left: 320%;
}

.mutbutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 367%;
}

.dilahbutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 340%;
}

.sipabutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 367%;
}

.aghniabutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 275%;
}

.icabutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 410%;
}

.junabutton {
        color: #ffff;
        height: 30px;
        width: 30px;
        margin-top: 10%;
        margin-left: 340%;
}

.mahesbutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 290%;
}

.gracebutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 310%;
}

.mistulbutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 310%;
}

.resabutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 350%;
}

.cicibutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 385%;
}

.fitabutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 385%;
}

.indybutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 365%;
}

.roisbutton {
    color: #ffff;
    height: 30px;
    width: 30px;
    margin-top: 10%;
    margin-left: 380%;
}

.akhir {
    margin-top: 40%;
}